<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loadBalancing" type="CacheManagement.Model.LoadBalancingConfigurationSection,CacheManagement"/>
  </configSections>
  <loadBalancing>
    <server ip="10.190.130.117" requestUrl="http://10.190.130.117:8055/common/Common/CacheManage" validateKey="123456" index="1"/>
  </loadBalancing>
</configuration>